*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #1D4ED8;
    color: #ffffff;
    width: 100%;
    padding: 2rem 0rem
}

nav h1{
    padding: 0.5rem;
    text-align: center;
    font-size: 2.5rem;
}




.container{
    width: 100%;
    margin-top: 1rem;
}

.text{
    width: 40rem;
    height: 10rem;
    margin-left: 28rem;
    padding: 1rem;
}

button{
    display: block;
    background-color: #1D4ED8;
    color: #ffffff;
    font-size: 1.5rem;
    margin-left: 28rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #1D4ED8;
}

button:hover{
    background-color: #ffffff;
    color: #1D4ED8;
}

h2{
    margin-left: 28rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.output-txt{
    border: 2px solid #000000;
}