.container{
    width: 90%;
    align-self: center;
    height: 100vh;
    margin: auto;
    padding: 2rem;
    align-items: center;
}

.text{
    width: 80%;
    margin: auto;
    margin-left: 7rem;
    padding: 1rem;
    height: 10rem;
}

button{
    display: block;
}
.output-txt{
    border: 2px solid #000000;
}